<% count = 0 %>
<% for countdown in countdowns %>
    <div class="countdown_box" align="center">
        <abbr title="<%= countdown.target_date.strftime("%b %d, %Y %I:%M %p") %>"><%= countdown.to_html %></abbr>
    </div>
    <% count = count + 1 %>
    <% if (count % 4 == 0) %>
        <br>
    <% end %>
<% end %>
