<html>
  <body>
    <p>
    <h2><%=h @message.nil? ? "Please Login" : @message %></h2>
    <form action="/users/login" method="post">
      <img src="/images/themes/default/user.png" border="0" align="absbottom">
      <b>Username: </b><input type="text" name="user_name">
      <p>
      <img src="/images/themes/default/lock_on.png" border="0" align="absbottom">
      <b>Password: </b><input type="password" name="password">
      <p>
      <input type="submit" value="<%=h @button_text.nil? ? "Login" : @button_text %>">
    </form>
  </body>
</html>