<table border="0">
    <tr>
        <td width="1%"><%= image_tag("themes/default/logo.png", {:border => 0}) %></td>
        <td class="header" align="center" valign="bottom"><%= Time.now.strftime("%A - %B %d, %Y") %></td>
        <td class="header" align="right" valign="bottom">
            <% unless (User.user.nil?) %>
            <a href="<%= edit_user_path(User.user) %>"><%=h User.user.name %></a>
            <% end %>
        </td>
    </tr>
</table>
