<div class="header">
    User Story Category
</div>
<p>
<div style="font-size:large;font-weight:bold">
    <%=  @user_story_category.name %>
</div>

<p>

<%= link_to 'Edit', edit_user_story_category_path(@user_story_category) %>
