<% unless @report.complete_goals.empty? && @report.incomplete_goals.empty?  -%>

Goals
=====
#### Completed Goals ####
<% @report.complete_goals.each do |g|-%>
* <%=h g.name %>
<%  end -%>

#### Incomplete Goals ####
<% @report.incomplete_goals.each do |g|-%>
* <%=h g.name %> (<%=h g.percent_complete %>%)
<% g.outstanding_obstacles.each do |o| -%>
    * <%= o.title %>
<% end -%>
<% end -%>

<% end -%>
