Hours
=====
<% total = 0 %>
<% @work_days.each do |day| -%>
<% day_hours = (day.out.to_f() - day.in.to_f()) / 3600.0 -%>
<% total += day_hours -%>
* <%=h day.work_date.strftime("%m/%d") %>:  <%=h day.in.strftime("%I:%M%p") %> - <%=h day.out.strftime("%I:%M%p") %> (<%=h sprintf("%.2f",day_hours) %>) <%=h (day.note.nil? || day.note.empty?) ? '' : "[#{day.note}]" %>
<%end-%>

Total: <%=h sprintf("%.2f",total) %>